<div style="color:#0f2105;display:block;font-family:'Helvetica Neue',Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif;font-size:16px;min-height:100%;margin:0;padding:0;width:100%">

  <table align="center" cellpadding="0" cellspacing="0" height="auto" style="background:#ffffff;border-collapse:collapse;border-spacing:0;border:0 none transparent;margin:0 auto 100px;max-width:500px;padding:0;width:95%" width="90%" bgcolor="#ffffff">
    <tbody>

      <tr>
        <td colspan="3">
          <table
          cellpadding="0" cellspacing="0" height="auto" width="100%">

            <tbody>
              <tr>
                <td style="width:30px"></td>
                <td style="padding-top:20px">
                  <a href="http://stylefnf.com" style="color:#00a0ff;text-decoration:none" target="_blank"><img alt="Stylefnf" border="0" src="https://s3-us-west-2.amazonaws.com/stylefnf.email/stylefnf.png"
                    style="display:block;width:130px" width="130" class="CToWUd">
                  </a>
                </td>
                <td style="width:30px"></td>
              </tr>

              <tr>
                <td style="width:30px"></td>
                <td style="padding-top:40px">
                  <h2 style="font-size:24px;font-weight:normal;line-height:30px;margin:0px 0px 0">
                    Congratulations <%= offerMakerName %>!
                  </h2>
                </td>
                <td style="width:30px"></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>

      <tr>
        <td colspan="3" style="padding-top:20px">
          <hr style="background:#d9d9de;border:0;color:#d9d9de;min-height:1px;margin:0px;width:100%">
        </td>
      </tr>

      <tr>
        <td style="width:30px"></td>
        <td style="padding-top:40px">
          <p style="color:#0f2105;font-family:'Helvetica Neue',Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif;line-height:24px;margin:0px"> Your <span style="font-weight:bold;">$<%= offerPrice %></span> offer on <a href='<%= postLink %>' style="color:#00a0ff;text-decoration:none" target="_blank"><%= postName %></a> has been accepted by <%= sellerName %>:
          </p>
        </td>
        <td style="width:30px"></td>
      </tr>

            <tr>
        <td style="width:30px"></td>
        <td style="padding-top:40px">
          <a href='<%= postLink %>'>
            <img src='<%= postPic %>' width="128" height="128" style="display: block;margin-left: auto;margin-right: auto; object-fit:cover;">

          </a>
        </td>
        <td style="width:30px"></td>
      </tr>
      
      <tr>
        <td style="width:30px"></td>
        <td style="padding-top:40px">
          <h3 style="font-size:20px;font-weight:normal;line-height:14px;margin:0px;text-align:center;margin-bottom:30px;" align="center">
            <a class="btn" href='<%= postLink %>'>
              <span class="offerDetails">Message <%= sellerName %></span>
              
            </a>
          </h3>
        </td>
        <td style="width:30px"></td>
      </tr>

      <tr>
        <td style="width:30px"></td>
        <td style="padding-top:20px">
          <p style="color:#0f2105;font-family:'Helvetica Neue',Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif;line-height:24px;margin:0px;">
            <span style="font-weight:bold;">What's next?</span> Start a chat with <%= offerMakerName %>, arrange a meet up and click <span style="font-weight:bold;color:#33CD5F;">Pay</span> to complete the transaction.
          </p>
        </td>
        <td style="width:30px"></td>
      </tr>

      <tr>
        <td style="width:30px"></td>
        <td style="padding-top:20px">
          <p style="color:#0f2105;font-family:'Helvetica Neue',Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif;line-height:24px;margin:0px;">
            <span style="font-weight:bold;">Fast, simple and secure</span> - go cashless and pay on the go with Stylefnf's 1 click pay button. Every transaction is protected by our <a href="http://stylefnf.com/#/help/returns"
            style="color:#00a0ff;text-decoration:none" target="_blank">guaranteed return policy</a> and Paypal's advanced encryption and 24-hour fraud monitoring.
          </p>
        </td>
        <td style="width:30px"></td>
      </tr>

      <tr>
        <td style="width:30px"></td>
        <td style="padding-top:20px">
          <p style="color:#0f2105;font-family:'Helvetica Neue',Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif;line-height:24px;margin:0px;">
            <span style="font-weight:bold;">Need a safe place to meet up?</span> Stylefnf HQ at Bahen Room 1120 (40 St. George Street) is available for free to all members. Email us at <a href="mailto:support@stylefnf.com" style="color:#00a0ff;text-decoration:none" target="_blank">support@stylefnf.com</a> to book a time :)
          </p>
        </td>
        <td style="width:30px"></td>
      </tr>

      <tr>
        <td style="width:30px"></td>
        <td style="padding-top:20px">
          <p style="color:#0f2105;font-family:'Helvetica Neue',Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif;line-height:24px;margin:0px;">
            <span style="font-weight:bold;">Not interested in <%= postName %> anymore?</span> Click <span style="font-weight:bold;color:#EF473A;">Cancel</span> on the listing page to remove your offer.
          </p>
        </td>
        <td style="width:30px"></td>
      </tr>

      <tr>
        <td style="width:30px"></td>
        <td style="padding-top:20px">
          <p style="color:#0f2105;font-family:'Helvetica Neue',Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif;line-height:24px;margin:0px">
            Wondering how to pay? Or need some help? Check out our <a href="http://stylefnf.com/#/help"
            style="color:#00a0ff;text-decoration:none" target="_blank">help guide.</a> or contact us at <a href="mailto:support@stylefnf.com" style="color:#00a0ff;text-decoration:none" target="_blank">support@stylefnf.com</a>
          </p>
        </td>
        <td style="width:30px"></td>
      </tr>

      <tr>
        <td style="width:30px"></td>
        <td style="padding-top:40px">
          <div style="display:inline-block;vertical-align:middle">
            <img alt="<3" src="https://s3-us-west-2.amazonaws.com/stylefnf.email/heart.png" style="width:17px"
            width="17" class="CToWUd">
          </div>
          <div style="display:inline-block;font-weight:bold;vertical-align:middle">
            Stylefnf
          </div>
        </td>
        <td style="width:30px"></td>
      </tr>


      <tr>
        <td colspan="3" style="padding-top:40px">
          <hr style="background:#d9d9de;border:0;color:#d9d9de;min-height:1px;margin:0px;width:100%">
        </td>
      </tr>

      <tr>
        <td style="width:30px"></td>
        <td style="padding-top:40px">
          <table cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0;border:0 none transparent;margin-bottom:0;width:100%" width="100%">
            <tbody>
              <tr>
                <td align="right" style="height:25px;padding-right:1px;vertical-align:top;width:25px" valign="top">
                  <a href="https://www.facebook.com/stylefnf" style="color:#00a0ff;text-decoration:none" target="_blank"><img alt="Facebook" height="25" src="https://s3-us-west-2.amazonaws.com/stylefnf.email/facebook.png"
                    style="min-height:25px;width:25px" width="25" class="CToWUd">
                  </a>
                </td>
                <td align="right" style="height:25px;padding-right:10px;vertical-align:top;width:25px" valign="top">
                  <a href="https://twitter.com/stylefnf" style="color:#00a0ff;text-decoration:none" target="_blank"><img alt="Twitter" height="25" src="https://s3-us-west-2.amazonaws.com/stylefnf.email/twitter.png"
                    style="min-height:25px;width:25px" width="25" class="CToWUd">
                  </a>
                </td>
                <td style="vertical-align:top" valign="top">
                  <div style="display:inline-block">
                    <p style="color:#828587;font-family:'Helvetica Neue',Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif;font-size:12px;line-height:16px;margin:0;vertical-align:middle">
                      Stylefnf</span> ·
                    </p>
                  </div>
                  <div style="display:inline-block">
                    <p style="color:#828587;font-family:'Helvetica Neue',Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif;font-size:12px;line-height:16px;margin:0;vertical-align:middle">
                      <a href="http://stylefnf.com" style="color:#828587;text-decoration:none" target="_blank">www.stylefnf.com</a>
                    </p>
                  </div>
                  <div>
                    <p style="color:#828587;font-family:'Helvetica Neue',Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif;font-size:12px;line-height:16px;margin:0;vertical-align:middle">
                      support@stylefnf.com
                    </p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>

    </tbody>
  </table>
  </div>
</div>